main {
    margin: 0px;
}
/* .frame {
    margin-left: 10px;
} */
.home-product-new-hldr {
    position: relative;
    /* width:1140px; */
    border: 0px solid black;
    width: 1000px;
}

.carousel-container {
    position: relative;
    width: 1000px;
    overflow:hidden;
    border: 1px solid red;
    margin: 0 auto;
  }

.items-container {
    border: 3px solid green;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    position:relative;
    white-space:nowrap;
}

.item {
    border: 0px solid green;
    width: 20%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
}

.item img {
    width: 200px;
    /* max-height:100%; */
}
.horizTranslate {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

