
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $light-green ;
}

header {
    // background-color: $light-green;
    height: 350px;
    // border: 1px solid green;
    background-repeat: none;
    max-width: 100%;
    background-size: cover;
    // background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    margin: 0 auto;
    padding-top: 30px;
    background-color: #fff;
    // padding-bottom: 50px;
}

.carousel-container {
    position: relative;
    overflow:hidden;
    // border: 2px solid red;
    margin: 0 auto;
  }

.items-container {
    // border: 3px solid green;
    height: 270px;
    margin: 0 auto;
    display: flex;
    position:relative;
    // white-space:nowrap;
}

.item {
    // border: 0px solid green;
    /* width: 20%; */
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
    padding: 1px;
}

.item img {
    width: 200px;
}
.horizTranslate {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

@media screen and (min-width: 786px) {
    .carousel-container, .items-container {
        width: 1011px;
    }

    .item {
        width: 20%;
    }

    .item img {
        // width: 400px;
        height: 132px;
        /* max-height:100%; */
    }
}

@media screen and (max-width: 785px) {
    .carousel-container, .items-container {
        width: 611px;
    }

    .item {
        width: 200px;
    }
}

@media screen and (max-width: 599px) {
    .carousel-container, .items-container {
        width: 411px;
    }

    .items-container  {
        height: 400px;
    }

    .item {
        width: 480px;
    }

    .item img {
        width: 400px;
        height: 270px;
        /* max-height:100%; */
    }
}