
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $light-green ;
}

header {
    height: 350px;
    background-repeat: none;
    max-width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    margin: 0 auto;
    padding-top: 30px;
    background-color: $white;
}

.carousel-container {
    position: relative;
    overflow:hidden;
    margin: 0 auto;
  }

.items-container {
    height: 270px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.item {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
}

.item img {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid $white;
}
.horizTranslate {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.hello {
    animation: pulse 5s infinite;
 }
 
 @keyframes pulse {
    0% {
      color: #001F3F;
    }
    100% {
      color: #FF4136;
    }
  }


@media screen and (min-width: 1280px) {
    .carousel-container, .items-container {
        width: 1000px;
    }

    .item {
        width: 20%;
    }

    .item img {
        height: 132px;
    }
}

@media screen and (max-width: 1279px) {
    .carousel-container, .items-container {
        width: 600px;
    }

    .items-container {
        height: 100%;
    }

    .item {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .carousel-container, .items-container {
        width: 300px;
    }

    .item {
        width: 300px;
        border: 0px;
    }

    .item img {
        width: 300px;
        height: 270px;
    }
}